<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263065310534-6ioo58mc8lrgsgnc9a1vuvv54c96239k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263065310534-6ioo58mc8lrgsgnc9a1vuvv54c96239k</string>
	<key>API_KEY</key>
	<string>AIzaSyAObG6PyD03MImjVmNNPROI9pkD9DbZdPA</string>
	<key>GCM_SENDER_ID</key>
	<string>263065310534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hooptracker</string>
	<key>PROJECT_ID</key>
	<string>hooptracker-799e8</string>
	<key>STORAGE_BUCKET</key>
	<string>hooptracker-799e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263065310534:ios:a9946f2660784ae5dc4147</string>
	<key>DATABASE_URL</key>
	<string>https://hooptracker-799e8-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>